schema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema
  xmlns="http://www.w3.org/2001/XMLSchema"
  xmlns:automation="urn:ietf:params:xml:ns:epp:delegation-maintenance-automation-1.0"
  targetNamespace="urn:ietf:params:xml:ns:epp:delegation-maintenance-automation-1.0"
  elementFormDefault="qualified">

  <annotation>
    <documentation>
     DS Automation Status Extension for the
     Extensible Provisioning Protocol (EPP)
   </documentation>
  </annotation>

  <!--
  Child elements found in EPP commands.
  -->
  <element name="infData" type="automation:infDataType"/>
  <element name="create" type="automation:createType"/>
  <element name="update" type="automation:updateType"/>

  <complexType name="automationType">
    <attribute name="enabled" type="boolean" default="true"/>
  </complexType>

  <complexType name="infDataType">
    <sequence>
      <element name="ns-automation"
        type="automation:automationType"/>
      <element name="ds-automation"
        type="automation:automationType"/>
    </sequence>
  </complexType>

  <complexType name="createType">
    <sequence>
      <element name="ns-automation"
        type="automation:automationType"/>
      <element name="ds-automation"
        type="automation:automationType"/>
    </sequence>
  </complexType>

  <complexType name="updateType">
    <sequence>
      <element name="ns-automation"
        type="automation:automationType"/>
      <element name="ds-automation"
        type="automation:automationType"/>
    </sequence>
  </complexType>
</schema>
